<!DOCTYPE html>
<html lang="es">
<head>
    <!--Pagina de aterrizaje (LandPage)-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechyGadget</title>
    <link rel="stylesheet" href="../styles/TechyGadget.css">
</head>
<body>
    <header>
        <h1>TechyGadget</h1>
        <nav>
            <ul class="NavLi">
                <li><a href="../index1.html" class="enlace">Inicio</a></li>
                <li><a href="#" class="enlace ubiPag">Caracteristica</a></li>
                <li><a href="./contacto.html" class="enlace">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="caracteristicas">
            <h2>Principales Características</h2>
            <div class="caracteristica-item">
                <img src="../fotosEj/velocidad.jpg" alt="Velocidad" >
                <h3>Rendimiento Inigualable</h3>
                <p>El procesador M3 proporciona una velocidad y eficiencia sin precedentes.</p>
            </div>
            <div class="caracteristica-item">
                <img src="../fotosEj/bateria.jpg" alt="Duración de la batería">
                <h3>Larga Duración de Batería</h3>
                <p>Hasta 20 horas de batería para que nunca te detengas.</p>
            </div>
            <div class="caracteristica-item">
                <img src="../fotosEj/seguridad.jpg" alt="Seguridad">
                <h3>Seguridad Avanzada</h3>
                <p>Protección de datos de última generación con Touch ID y cifrado avanzado.</p>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 TechyGadget.Todos los derechos reservados</p>
            <nav>
                <ul class="NavLi">
                    <li><a href="https://www.instagram.com/" class="enlace2">Instagram</a></li>
                    <li><a href="https://twitter.com/?lang=es" class="enlace2">X</a></li>
                </ul>
            </nav>
        
    </footer>
</body>
</html>