<!DOCTYPE html>
<html lang="es">
<head>
    <!--Pagina de aterrizaje (LandPage)-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechyGadget</title>
    <link rel="stylesheet" href="../styles/TechyGadget.css">
</head>
<body>
    <header>
        <h1>TechyGadget</h1>
        <nav>
            <ul class="NavLi">
                <li><a href="../index1.html" class="enlace">Inicio</a></li>
                <li><a href="./caracteristica.html" class="enlace">Caracteristica</a></li>
                <li><a href="#" class="enlace ubiPag">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>

    </main>

    <footer>
        <p>&copy; 2024 TechyGadget.Todos los derechos reservados</p>
            <nav>
                <ul class="NavLi">
                    <li><a href="https://www.instagram.com/" class="enlace2">Instagram</a></li>
                    <li><a href="https://twitter.com/?lang=es" class="enlace2">X</a></li>
                </ul>
            </nav>
        </div>
    </footer>
</body>
</html>